@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);







#slider-1 H1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 46px;
}
#msg-box4-4 .mbr-header__text {
  color: #694d42;
  font-family: 'Source Sans Pro', sans-serif;
}
#msg-box4-4 .mbr-header__subtext {
  color: #694d42;
  font-size: 24px;
}
#msg-box4-4 .mbr-article {
  color: #ffffff;
}
#msg-box4-4 .mbr-article P {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #282626;
}
#msg-box4-4 .btn {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
#msg-box4-4 .mbr-header__subtext B {
  color: #000000;
  font-size: 24px;
}
#msg-box4-4 .mbr-header__text SPAN {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
}
#msg-box4-4 .mbr-header__subtext SPAN {
  color: #41a85f;
  font-size: 24px;
}
#msg-box4-10 .mbr-header__text {
  color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
}
#msg-box4-10 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-10 .mbr-article {
  color: #ffffff;
}
#msg-box4-10 .mbr-article P {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000000;
}
#msg-box4-10 .btn {
  font-size: 12px;
}
#msg-box2-8 .mbr-header .mbr-header__text {
  color: #252525;
  font-size: 25px;
}
#msg-box2-8 .mbr-article {
  color: #252525;
}
#features1-10 P {
  color: #777777;
}
#features1-10 .mbr-section__col .mbr-header__text {
  color: #5f278c;
  font-size: 18px;
}
#msg-box3-9 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-9 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#footer1-12 P {
  color: #ffffff;
}
#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1.2em;
  color: #6f584e;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #6f584e;
}
#msg-box3-l .mbr-header .mbr-header__text {
  text-align: center;
  color: #41a85f;
}
#msg-box3-l .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-l .mbr-article P {
  color: #000000;
}
#msg-box4-n .mbr-header__text {
  color: #000000;
}
#msg-box4-n .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-n .mbr-article {
  color: #ffffff;
}
#msg-box4-n .mbr-article P {
  color: #7c706b;
}
#msg-box3-p .mbr-header .mbr-header__text {
  text-align: left;
}
#msg-box3-p .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-p .mbr-article P {
  color: #7c706b;
}
#msg-box3-r .mbr-header .mbr-header__text {
  text-align: left;
}
#msg-box3-r .mbr-header .mbr-header__subtext {
  text-align: center;
}
#footer1-e P {
  color: #ffffff;
}
#dropdown-menu-2btn-f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-f .nav .link,
#dropdown-menu-2btn-f .dropdown-item {
  font-size: 1.2em;
  color: #6f584e;
}
#dropdown-menu-2btn-f .navbar,
#dropdown-menu-2btn-f .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-2btn-f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-f .dropdown-menu a:hover,
#dropdown-menu-2btn-f .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-2btn-f .navbar-toggler {
  color: #6f584e;
}
#msg-box3-u .mbr-header .mbr-header__text {
  text-align: center;
  color: #41a85f;
}
#msg-box3-u .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-u .mbr-article P {
  color: #000000;
}
#footer1-z P {
  color: #ffffff;
}
#dropdown-menu-2btn-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-10 .nav .link,
#dropdown-menu-2btn-10 .dropdown-item {
  font-size: 1.2em;
  color: #6f584e;
}
#dropdown-menu-2btn-10 .navbar,
#dropdown-menu-2btn-10 .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-2btn-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-10 .dropdown-menu a:hover,
#dropdown-menu-2btn-10 .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-2btn-10 .navbar-toggler {
  color: #6f584e;
}
#msg-box3-1d .mbr-header .mbr-header__text {
  text-align: center;
  color: #41a85f;
}
#msg-box3-1d .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1d .mbr-article P {
  color: #000000;
  font-size: 20px;
}
#msg-box4-1e .mbr-header__text {
  color: #000000;
}
#msg-box4-1e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1e .mbr-article {
  color: #ffffff;
}
#msg-box4-1e .mbr-article P {
  color: #7c706b;
}
#msg-box3-1f .mbr-header .mbr-header__text {
  text-align: left;
}
#msg-box3-1f .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1f .mbr-article P {
  color: #7c706b;
}
#msg-box3-1n .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#features1-1o .mbr-section__col .mbr-header__text {
  font-size: 18px;
}
#msg-box4-1p .mbr-header__text {
  color: #000000;
}
#msg-box4-1p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1p .mbr-article {
  color: #ffffff;
}
#msg-box4-1p .mbr-article P {
  color: #000000;
}
#msg-box4-1q .mbr-header__text {
  color: #000000;
}
#msg-box4-1q .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1q .mbr-article {
  color: #ffffff;
}
#msg-box4-1q .mbr-article P {
  color: #000000;
}
#msg-box3-1s .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1s .mbr-header .mbr-header__subtext {
  text-align: center;
}
#footer1-1i P {
  color: #ffffff;
}
#dropdown-menu-2btn-1j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1j .nav .link,
#dropdown-menu-2btn-1j .dropdown-item {
  font-size: 1.2em;
  color: #6f584e;
}
#dropdown-menu-2btn-1j .navbar,
#dropdown-menu-2btn-1j .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-2btn-1j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1j .dropdown-menu a:hover,
#dropdown-menu-2btn-1j .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-2btn-1j .navbar-toggler {
  color: #6f584e;
}
#msg-box3-1u .mbr-header .mbr-header__text {
  text-align: center;
  color: #41a85f;
}
#msg-box3-1u .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1u .mbr-article P {
  color: #000000;
  font-size: 20px;
}
#msg-box4-1v .mbr-header__text {
  color: #000000;
}
#msg-box4-1v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1v .mbr-article {
  color: #ffffff;
}
#msg-box4-1v .mbr-article P {
  color: #000000;
}
#msg-box4-27 .mbr-header__text {
  color: #000000;
}
#msg-box4-27 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-27 .mbr-article {
  color: #ffffff;
}
#msg-box4-27 .mbr-article P {
  color: #000000;
}
#footer1-24 P {
  color: #ffffff;
}
#dropdown-menu-2btn-25 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-25 .nav .link,
#dropdown-menu-2btn-25 .dropdown-item {
  font-size: 1.2em;
  color: #6f584e;
}
#dropdown-menu-2btn-25 .navbar,
#dropdown-menu-2btn-25 .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-2btn-25 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-25 .dropdown-menu a:hover,
#dropdown-menu-2btn-25 .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-2btn-25 .navbar-toggler {
  color: #6f584e;
}
#msg-box3-2a .mbr-header .mbr-header__text {
  text-align: center;
  color: #41a85f;
}
#msg-box3-2a .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2a .mbr-article P {
  color: #000000;
  font-size: 20px;
  text-align: center;
}
#msg-box4-2b .mbr-header__text {
  color: #000000;
}
#msg-box4-2b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2b .mbr-article {
  color: #ffffff;
}
#msg-box4-2b .mbr-article P {
  color: #000000;
}
#msg-box4-2c .mbr-header__text {
  color: #000000;
}
#msg-box4-2c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2c .mbr-article {
  color: #ffffff;
}
#msg-box4-2c .mbr-article P {
  color: #000000;
}
#msg-box4-2h .mbr-header__text {
  color: #000000;
}
#msg-box4-2h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2h .mbr-article {
  color: #ffffff;
}
#msg-box4-2h .mbr-article P {
  color: #000000;
}
#msg-box4-2j .mbr-header__text {
  color: #000000;
}
#msg-box4-2j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2j .mbr-article {
  color: #ffffff;
}
#msg-box4-2j .mbr-article P {
  color: #000000;
}
#msg-box3-2k .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2k .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2k .mbr-article P {
  color: #000000;
  font-size: 18px;
}
#msg-box4-2m .mbr-header__text {
  color: #000000;
}
#msg-box4-2m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2m .mbr-article {
  color: #ffffff;
}
#msg-box4-2m .mbr-article P {
  color: #000000;
  font-size: 22px;
}
#msg-box3-2n .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2n .mbr-article P {
  color: #000000;
}
#msg-box3-2p .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2p .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2p .mbr-article P {
  color: #000000;
}
#msg-box3-2s .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2s .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2s .mbr-article P {
  color: #000000;
}
#msg-box4-2t .mbr-header__text {
  color: #000000;
}
#msg-box4-2t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2t .mbr-article {
  color: #ffffff;
}
#msg-box4-2t .mbr-article P {
  color: #000000;
}
#msg-box4-2u .mbr-header__text {
  color: #000000;
}
#msg-box4-2u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2u .mbr-article {
  color: #ffffff;
}
#msg-box4-2u .mbr-article P {
  color: #000000;
}
#image2-2z SMALL {
  text-align: center;
  color: #c1c1c1;
  font-size: 18px;
}
#image2-2z B {
  font-size: 22px;
}
#footer1-2e P {
  color: #ffffff;
}
#dropdown-menu-2btn-2f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2f .nav .link,
#dropdown-menu-2btn-2f .dropdown-item {
  font-size: 1.2em;
  color: #6f584e;
}
#dropdown-menu-2btn-2f .navbar,
#dropdown-menu-2btn-2f .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-2btn-2f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2f .dropdown-menu a:hover,
#dropdown-menu-2btn-2f .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-2btn-2f .navbar-toggler {
  color: #6f584e;
}
#msg-box3-31 .mbr-header .mbr-header__text {
  text-align: center;
  color: #41a85f;
}
#msg-box3-31 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-31 .mbr-article P {
  color: #000000;
  font-size: 20px;
  text-align: center;
}
#msg-box3-3k .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3k .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3k .mbr-header .mbr-header__text DIV {
  text-align: left;
  font-size: 20px;
}
#msg-box3-3m .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3m .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3m .mbr-article P {
  color: #000000;
  font-size: 20px;
}
#msg-box3-3r .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3r .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3r .mbr-article P {
  color: #000000;
  font-size: 20px;
}
#msg-box3-3u .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3u .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3u .mbr-article P {
  color: #000000;
  font-size: 20px;
}
#msg-box3-3w .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3w .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3w .mbr-article P {
  color: #000000;
  font-size: 20px;
}
#msg-box3-40 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-40 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-40 .mbr-article P {
  color: #000000;
  font-size: 20px;
}
#msg-box3-41 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-41 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-41 .mbr-article P {
  color: #000000;
}
#msg-box3-42 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-42 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-42 .mbr-article P {
  color: #000000;
  font-size: 20px;
}
#msg-box3-46 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-46 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-46 .mbr-article P {
  color: #000000;
}
#msg-box3-47 .mbr-header .mbr-header__text {
  text-align: left;
  color: #b8312f;
}
#msg-box3-47 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-47 .mbr-article P {
  text-align: left;
  color: #000000;
}
#msg-box3-48 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-48 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-48 .mbr-article P {
  color: #000000;
}
#msg-box4-49 .mbr-header__text {
  color: #000000;
  font-size: 20px;
}
#msg-box4-49 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-49 .mbr-article {
  color: #ffffff;
}
#msg-box4-49 .mbr-article P {
  color: #000000;
  font-size: 20px;
}
#msg-box3-4a .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4a .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4a .mbr-article P {
  color: #000000;
  font-size: 20px;
  text-align: center;
}
#msg-box3-4c .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4c .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4c .mbr-article P {
  color: #000000;
  font-size: 20px;
  text-align: center;
}
#msg-box3-4e .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4e .mbr-article P {
  color: #000000;
  font-size: 20px;
  text-align: center;
}
#msg-box3-4h .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4j .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4j .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4j .mbr-article P {
  color: #000000;
}
#msg-box3-4k .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4k .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4k .mbr-article P {
  color: #000000;
  font-size: 20px;
  text-align: center;
}
#footer1-3h P {
  color: #ffffff;
}
#dropdown-menu-2btn-3i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3i .nav .link,
#dropdown-menu-2btn-3i .dropdown-item {
  font-size: 1.2em;
  color: #6f584e;
}
#dropdown-menu-2btn-3i .navbar,
#dropdown-menu-2btn-3i .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-2btn-3i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3i .dropdown-menu a:hover,
#dropdown-menu-2btn-3i .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-2btn-3i .navbar-toggler {
  color: #6f584e;
}
#msg-box3-4o .mbr-header .mbr-header__text {
  text-align: center;
  color: #41a85f;
}
#msg-box3-4o .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4o .mbr-article P {
  color: #000000;
  font-size: 20px;
  text-align: left;
}
#msg-box3-4v .mbr-header .mbr-header__text {
  text-align: left;
}
#msg-box3-4v .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4v .mbr-article P {
  color: #000000;
}
#msg-box3-4v .mbr-header .mbr-header__text DIV {
  text-align: left;
}
#msg-box3-4x .mbr-header .mbr-header__text {
  text-align: left;
  color: #b8312f;
}
#msg-box3-4x .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4x .mbr-article P {
  color: #b8312f;
}
#footer1-4s P {
  color: #ffffff;
}
#dropdown-menu-2btn-4t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-4t .nav .link,
#dropdown-menu-2btn-4t .dropdown-item {
  font-size: 1.2em;
  color: #6f584e;
}
#dropdown-menu-2btn-4t .navbar,
#dropdown-menu-2btn-4t .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-2btn-4t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-4t .dropdown-menu a:hover,
#dropdown-menu-2btn-4t .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-2btn-4t .navbar-toggler {
  color: #6f584e;
}
#msg-box3-50 .mbr-header .mbr-header__text {
  text-align: center;
  color: #41a85f;
}
#msg-box3-50 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-50 .mbr-article P {
  color: #000000;
  font-size: 20px;
  text-align: left;
}
#footer1-54 P {
  color: #ffffff;
}
#dropdown-menu-2btn-55 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-55 .nav .link,
#dropdown-menu-2btn-55 .dropdown-item {
  font-size: 1.2em;
  color: #6f584e;
}
#dropdown-menu-2btn-55 .navbar,
#dropdown-menu-2btn-55 .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-2btn-55 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-55 .dropdown-menu a:hover,
#dropdown-menu-2btn-55 .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-2btn-55 .navbar-toggler {
  color: #6f584e;
}
#msg-box3-5f .mbr-header .mbr-header__text {
  text-align: center;
  color: #41a85f;
}
#msg-box3-5f .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-5f .mbr-article P {
  color: #000000;
  font-size: 20px;
  text-align: left;
}
#msg-box3-5m .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-5m .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-5p .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-5p .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-5p .mbr-article P {
  color: #252525;
  font-size: 20px;
  text-align: center;
}
#footer1-5h P {
  color: #ffffff;
}
#dropdown-menu-2btn-5i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-5i .nav .link,
#dropdown-menu-2btn-5i .dropdown-item {
  font-size: 1.2em;
  color: #6f584e;
}
#dropdown-menu-2btn-5i .navbar,
#dropdown-menu-2btn-5i .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-2btn-5i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-5i .dropdown-menu a:hover,
#dropdown-menu-2btn-5i .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-2btn-5i .navbar-toggler {
  color: #6f584e;
}
#msg-box3-5r .mbr-header .mbr-header__text {
  text-align: center;
  color: #41a85f;
}
#msg-box3-5r .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-5r .mbr-article P {
  color: #000000;
  font-size: 20px;
  text-align: left;
}
#msg-box4-5y .mbr-header__text {
  color: #252525;
}
#msg-box4-5y .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-5y .mbr-article {
  color: #ffffff;
}
#msg-box4-5y .mbr-article P {
  color: #252525;
}
#msg-box4-5z .mbr-header__text {
  color: #252525;
}
#msg-box4-5z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-5z .mbr-article {
  color: #ffffff;
}
#msg-box4-5z .mbr-article P {
  color: #252525;
}
#footer1-5v P {
  color: #ffffff;
}
#dropdown-menu-2btn-5w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-5w .nav .link,
#dropdown-menu-2btn-5w .dropdown-item {
  font-size: 1.2em;
  color: #6f584e;
}
#dropdown-menu-2btn-5w .navbar,
#dropdown-menu-2btn-5w .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-2btn-5w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-5w .dropdown-menu a:hover,
#dropdown-menu-2btn-5w .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-2btn-5w .navbar-toggler {
  color: #6f584e;
}
